In [1]:
import os
 
# Get the list of all files and directories
path = "C:\Portfolio Optimization and Classification\BSE 100 5 yrs data"
dir_list = os.listdir(path)
 
print("Files and directories in '", path, "' :")
 
# prints all files
print(dir_list)

Files and directories in ' C:\Portfolio Optimization and Classification\BSE 100 5 yrs data ' :
['.ipynb_checkpoints', '500010.csv', '500034.csv', '500049.csv', '500087.csv', '500096.csv', '500112.csv', '500114.csv', '500124.csv', '500180.csv', '500182.csv', '500209.csv', '500228.csv', '500247.csv', '500251.csv', '500257.csv', '500271.csv', '500295.csv', '500300.csv', '500312.csv', '500325.csv', '500331.csv', '500387.csv', '500400.csv', '500408.csv', '500410.csv', '500425.csv', '500440.csv', '500469.csv', '500470.csv', '500477.csv', '500490.csv', '500493.csv', '500510.csv', '500520.csv', '500547.csv', '500550.csv', '500570.csv', '500575.csv', '500696.csv', '500790.csv', '500800.csv', '500820.csv', '500825.csv', '500830.csv', '500850.csv', '500875.csv', '503806.csv', '505200.csv', '505537.csv', '507685.csv', '508869.csv', '511218.csv', '511243.csv', '512070.csv', '512599.csv', '517354.csv', '523642.csv', '524715.csv', '524804.csv', '526299.csv', '530965.csv', '531642.csv', '532134.csv', '532155.csv', '532174.csv', '532187.csv', '532215.csv', '532281.csv', '532424.csv', '532454.csv', '532488.csv', '532500.csv', '532538.csv', '532540.csv', '532555.csv', '532755.csv', '532777.csv', '532827.csv', '532868.csv', '532898.csv', '532921.csv', '532977.csv', '532978.csv', '533096.csv', '533150.csv', '533155.csv', '533278.csv', '534816.csv', '539448.csv', '539876.csv', '540005.csv', '540133.csv', '540376.csv', '540611.csv', '540716.csv', '540719.csv', '540777.csv', '541153.csv', '542830.csv', '570001.csv', 'Constituents.xlsx', 'ConstituentsExport.xlsx', 'Dabur India Ltd.ipynb', 'Dabur.csv', 'Dabur1.csv', 'Hind.csv', 'Hindustan Unilever Ltd.ipynb', 'LSTM - Hind.ipynb', 'output.xlsx', 'PIDILITE Industries Ltd.ipynb', 'PIDILITE.csv', 'Untitled.ipynb', 'Untitled1.ipynb', 'Untitled10.ipynb', 'Untitled11.ipynb', 'Untitled12.ipynb', 'Untitled13.ipynb', 'Untitled14.ipynb', 'Untitled15.ipynb', 'Untitled16.ipynb', 'Untitled17.ipynb', 'Untitled18.ipynb', 'Untitled2.ipynb', 'Untitled3.ipynb', 'Untitled4.ipynb', 'Untitled5.ipynb', 'Untitled6.ipynb', 'Untitled7.ipynb', 'Untitled8.ipynb', 'Untitled9.ipynb', 'updated_data.csv', 'updated_data1.csv', 'updated_data2.csv', 'updated_data3.csv', 'updated_data4.csv', 'updated_data5.csv', 'updated_data6.csv', 'updated_data7.csv', 'updated_data8.csv', 'updated_data9.csv']

In [2]:

# import module

import pandas as pd
 
# assign dataset names

list_of_names = ['500010.csv', '500034.csv', '500049.csv', '500087.csv', '500096.csv', '500112.csv', '500114.csv', '500124.csv', '500180.csv', '500182.csv', '500209.csv', '500228.csv', '500247.csv', '500251.csv', '500257.csv', '500271.csv', '500295.csv', '500300.csv', '500312.csv', '500325.csv', '500331.csv', '500387.csv', '500400.csv', '500408.csv', '500410.csv', '500425.csv', '500440.csv', '500469.csv', '500470.csv', '500477.csv', '500490.csv', '500493.csv', '500510.csv', '500520.csv', '500547.csv', '500550.csv', '500570.csv', '500575.csv', '500696.csv', '500790.csv', '500800.csv', '500820.csv', '500825.csv', '500830.csv', '500850.csv', '500875.csv', '503806.csv', '505200.csv', '505537.csv', '507685.csv', '508869.csv', '511218.csv', '511243.csv', '512070.csv', '512599.csv', '517354.csv', '523642.csv', '524715.csv', '524804.csv', '526299.csv', '530965.csv', '531642.csv', '532134.csv', '532155.csv', '532174.csv', '532187.csv', '532215.csv', '532281.csv', '532424.csv', '532454.csv', '532488.csv', '532500.csv', '532538.csv', '532540.csv', '532555.csv', '532755.csv', '532777.csv', '532827.csv', '532868.csv', '532898.csv', '532921.csv', '532977.csv', '532978.csv', '533096.csv', '533150.csv', '533155.csv', '533278.csv', '534816.csv', '539448.csv', '539876.csv', '540005.csv', '540133.csv', '540376.csv', '540611.csv', '540716.csv', '540719.csv', '540777.csv', '541153.csv', '542830.csv', '570001.csv']
 
# create empty list

dataframes_list = []
 
# append datasets into the list

for i in range(len(list_of_names)):

    temp_df = pd.read_csv(list_of_names[i])

    dataframes_list.append(temp_df)

In [3]:
import math

In [4]:
import statistics
df = pd.DataFrame(columns = ['Close Price'])
print(df)

Empty DataFrame
Columns: [Close Price]
Index: []

In [10]:
def func(i):
    df['Close Price'] = dataframes_list[i].loc[:59,'Close Price']
    for j in range(1,len(df['Close Price'])):
         df[1][j-1]=math.log(df['Close Price'][j]/df['Close Price'][j-1])
    return df[1][:58]

In [11]:
func(0)

0    -0.074800
1     0.005303
2     0.032491
3    -0.030246
4     0.042219
5     0.044804
6    -0.032222
7    -0.095543
8     0.007972
9     0.114239
10   -0.006930
11   -0.023783
12   -0.043534
13    0.065946
14    0.014182
15    0.089489
16    0.004504
17   -0.032620
18    0.020895
19   -0.091735
20    0.076667
21    0.073102
22    0.049911
23   -0.000435
24   -0.102812
25   -0.288954
26    0.161958
27   -0.144388
28    0.055843
29    0.015944
30    0.027550
31   -0.052280
32    0.100274
33    0.160524
34    0.125180
35   -0.073306
36    0.065635
37   -0.015919
38   -0.032041
39    0.053655
40   -0.031547
41   -0.013632
42    0.136975
43   -0.016008
44    0.031869
45   -0.060669
46   -0.034032
47   -0.025785
48   -0.063878
49    0.009950
50   -0.069557
51    0.034863
52   -0.064284
53    0.094972
54    0.027814
55   -0.066202
56    0.075783
57    0.086019
Name: 1, dtype: float64

In [12]:
from scipy.stats import skew

In [13]:
   DFT=pd.DataFrame()
for i in range(0,98):
    K=func(i)
    Datax = pd.DataFrame({'Avg':statistics.mean(K),
                          'SD':statistics.stdev(K),
                          'Skewness':skew(K,bias=False)},index=[0])
    DFT=pd.concat([DFT,Datax],axis=0)

In [14]:
DFT=DFT.reset_index(drop=True)

In [15]:
DFT

         Avg        SD  Skewness
0   0.005507  0.078736 -0.674205
1   0.023935  0.148122 -1.674949
2  -0.008230  0.183064 -3.892470
3   0.011435  0.080622  0.899400
4   0.008765  0.060030  0.141156
..       ...       ...       ...
93 -0.000488  0.193528 -2.256996
94  0.007425  0.067231  0.007624
95  0.011484  0.087925 -1.532531
96  0.005582  0.077515 -0.546373
97 -0.011223  0.168036 -0.693386

[98 rows x 3 columns]

In [18]:
DFT['Avg'][4]
DFT['SD'][4]

0.06003042637095162

In [62]:
DFT.to_excel(r'C:\Users\sb732\OneDrive\Desktop\DFT.xlsx')

In [6]:
list_of_names[4],list_of_names[20],list_of_names[38],list_of_names[41],list_of_names[43],list_of_names[61],list_of_names[94],list_of_names[7],list_of_names[35],list_of_names[74]

('500096.csv',
 '500331.csv',
 '500696.csv',
 '500820.csv',
 '500830.csv',
 '531642.csv',
 '540716.csv',
 '500124.csv',
 '500550.csv',
 '532555.csv')